# npm
node_modules/

# build
dist/
build/
*.tsbuildinfo

# runtimes
data/
.cache/

# Logs
logs/
*.log

# config
config/
config.json*
!config.jsonc.example

# tmp
tmp/
.tmp/
temp/
*.tmp
*.bak*

# os
.DS_Store

# ides
.idea/
.vscode/
